<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RxJs</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/subject">Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/behaviourSubject">BehaviourSubject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/replaySubject">ReplaySubject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asyncSubject">AsyncSubject</a>
            </li>
        </ul>
    </div>
</nav>
